/* ukuran responsive */
/* mobile <=480
tablet >480 <=1024
desktop >1024 */

body {
    /* reset spacing bawaan browser */
    margin: 0;
    padding: 0;

    /* 2 parameter = atas/bawah & kanan/kiri */
    /* margin: 10px 2px; */

    /* 3 parameter = atas & kanan/kiri & bawah */
    /* margin: 1px 2px 5px; */

    /* 4 parameter = atas - kanan - bawah - kiri */
    /* margin: 1px 2px 5px 10px; */

    /* margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px; */

    font-family: 'Source Sans Pro', sans-serif;
}

body.no-scroll {
    overflow-y: hidden;
}

header img {
    width: 100%;
    display: block;
}

nav {
    background-color: #24ACF2;
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 100;
}
nav ul {
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    display: flex;
    justify-content: center;
}
nav ul li {
    margin: 0 10px;
}
nav ul li a {
    color: white;
    text-decoration: none;
}

.title {
    text-align: center;
    margin-top: 0;
    font-family: 'Besley', serif;
}

#profile,
#skill {
    padding: 45px 50px;
}

#profile section {
    margin-bottom: 15px;
}

#portfolio {
    padding: 45px 200px;
    background-color: #eeeeee;
}

.portfolio-item {
    float: left;
    width: 25%;
    text-align: center;
    position: relative;
    /* display: flex; */
    /* flex-direction: column; */
}

.portfolio-item img {
    width: 120px;
}

.portfolio-item h3 {
    font-size: 16px;
}

.portfolio-image-container {
    width: auto;
    position: relative;
    display: inline-block;
}

.portfolio-badge {
    position: absolute;
    top: 3px;
    right: 3px;
    background-color: green;
    color: white;
    padding: 2px 7px;
    border-radius: 20px;
}

.clear-float {
    clear: both;
}

dl dd h5,
dl dd p {
    margin: 0;
}

dl dd {
    margin-bottom: 15px;
}

.modal-container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.75);
    top: 0;
    left: 0;
    z-index: 200;
    display: flex;
    /* justify horizontal */
    justify-content: center;
    /* align vertical */
    align-items: center;
}

.modal-container.d-none {
    display: none;
}

.modal {
    background-color: white;
    max-width: 600px;
}

.modal-header {
    padding-left: 15px;
    padding-right: 15px;
}

.modal-header button {
    float: right;
}

.modal-body {
    clear: both;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
}

.media .media-image {
    float: left;
    width: 160px;
    margin-right: 15px;
}

.media .media-body h5 {
    margin-bottom: 0;
}

.btn-transparent {
    background-color: transparent;
    border: none;
}

.clear-both {
    clear: both;
}

footer {
    text-align: center;
    padding: 5px;
    background-color: #aaaaaa;
    color: white;
}


@media (max-width: 480px) {
    body {
        font-size: 20px;
    }
    header img {
        object-fit: cover;
        height: 400px;
    }
    nav {
        padding-top: 25px;
        padding-bottom: 25px;
    }
    nav ul li a {
        padding-top: 12px;
        padding-bottom: 12px;
    }
    #portfolio {
        padding-left: 50px;
        padding-right: 50px;
    }
    .portfolio-item {
        width: 100%;
        margin-bottom: 17px;
    }
    .portfolio-item img {
        width: 220px;
    }
    .portfolio-item h3 {
        font-size: 20px;
    }
}

@media (max-width: 1024px) {
    #portfolio {
        padding-left: 80px;
        padding-right: 80px;
    }
}